<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CSMessenger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <applicationSettings>
    <CSMessenger.Properties.Settings>
      <setting name="DBConnection_Provider" serializeAs="String">
        <value>System.Data.SqlClient</value>
      </setting>
      <setting name="DBConnection_Datasource" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="DBConnection_Database" serializeAs="String">
        <value>CSMessenger</value>
      </setting>
      <setting name="DBConnection_UserID" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="DBConnection_Password" serializeAs="String">
        <value>43ubKjbAQCxR+foIcEK/PcLRw0VHFqfd</value>
      </setting>
      <setting name="UserInfo_Font" serializeAs="String">
        <value>Microsoft Sans Serif, 9.75pt, style=Bold</value>
      </setting>
      <setting name="MessageList_BackColor" serializeAs="String">
        <value>Moccasin</value>
      </setting>
      <setting name="MessageList_OnMemoryMaxCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MessageReceived_Time_Font" serializeAs="String">
        <value>Microsoft Sans Serif, 8.25pt</value>
      </setting>
      <setting name="MessageReceived_Time_ForeColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="MessageReceived_Text_Font" serializeAs="String">
        <value>Microsoft Sans Serif, 8.25pt</value>
      </setting>
      <setting name="MessageReceived_Text_BackColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="MessageReceived_Text_ForeColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="MessageReceived_Status_Unreaded_Font" serializeAs="String">
        <value>Wingdings, 12pt</value>
      </setting>
      <setting name="MessageReceived_Status_Unreaded_ForeColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="MessageReceived_Status_Unreaded_Symbol" serializeAs="String">
        <value>l</value>
      </setting>
      <setting name="MessageReceived_Status_Readed_Font" serializeAs="String">
        <value>Wingdings, 12pt</value>
      </setting>
      <setting name="MessageReceived_Status_Readed_ForeColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="MessageReceived_Status_Readed_Symbol" serializeAs="String">
        <value />
      </setting>
      <setting name="MessageSent_Time_Font" serializeAs="String">
        <value>Microsoft Sans Serif, 8.25pt</value>
      </setting>
      <setting name="MessageSent_Time_ForeColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="MessageSent_Text_Font" serializeAs="String">
        <value>Microsoft Sans Serif, 8.25pt</value>
      </setting>
      <setting name="MessageSent_Text_BackColor" serializeAs="String">
        <value>PaleGreen</value>
      </setting>
      <setting name="MessageSent_Text_ForeColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="MessageSent_Status_Sent_Font" serializeAs="String">
        <value>Wingdings, 12pt</value>
      </setting>
      <setting name="MessageSent_Status_Sent_ForeColor" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="MessageSent_Status_Sent_Symbol" serializeAs="String">
        <value>ü</value>
      </setting>
      <setting name="MessageSent_Status_Received_Font" serializeAs="String">
        <value>Wingdings, 12pt</value>
      </setting>
      <setting name="MessageSent_Status_Received_ForeColor" serializeAs="String">
        <value>DarkGray</value>
      </setting>
      <setting name="MessageSent_Status_Received_Symbol" serializeAs="String">
        <value>üü</value>
      </setting>
      <setting name="MessageSent_Status_Readed_Font" serializeAs="String">
        <value>Wingdings, 12pt</value>
      </setting>
      <setting name="MessageSent_Status_Readed_ForeColor" serializeAs="String">
        <value>DeepSkyBlue</value>
      </setting>
      <setting name="MessageSent_Status_Readed_Symbol" serializeAs="String">
        <value>üü</value>
      </setting>
      <setting name="MessageNew_Font" serializeAs="String">
        <value>Microsoft Sans Serif, 9.75pt</value>
      </setting>
      <setting name="UserList_UserWithNewMessages_Font" serializeAs="String">
        <value>Microsoft Sans Serif, 8.25pt, style=Bold</value>
      </setting>
      <setting name="UserList_UserWithNewMessages_ForeColor" serializeAs="String">
        <value>SteelBlue</value>
      </setting>
      <setting name="UserList_UserWithOldMessages_Font" serializeAs="String">
        <value>Microsoft Sans Serif, 8.25pt</value>
      </setting>
      <setting name="UserList_UserWithOldMessages_ForeColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="RefreshTimer_IntervalInMilliseconds" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="UserList_UserWithNewMessages_Status_BackColor"
        serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="UserList_BackColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="UserList_UserWithOldMessages_Status_BackColor"
        serializeAs="String">
        <value>Transparent</value>
      </setting>
      <setting name="UserList_ItemUnselected_BackColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="UserList_ItemSelected_BackColor" serializeAs="String">
        <value>LightBlue</value>
      </setting>
    </CSMessenger.Properties.Settings>
  </applicationSettings>
</configuration>
